<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.situ.futurestar.core.mapper.UserMapper">
    <select id="selectByPhone" resultType="com.situ.futurestar.core.entity.User">
        SELECT * FROM user
        WHERE phone = #{phone} AND deleted = 0
    </select>
    <insert id="insert" parameterType="com.situ.futurestar.core.entity.User"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user (phone, password, real_name, role, member_level, points, status)
        VALUES (#{phone}, #{password}, #{realName}, #{role}, #{memberLevel}, #{points}, #{status})
    </insert>
    <select id="selectById" resultType="com.situ.futurestar.core.entity.User">
        SELECT * FROM user
        WHERE id = #{id} AND deleted = 0
    </select>
    <update id="updatePassword">
        update user SET password = #{password}
        WHERE id = #{userId}
    </update>
    <update id="updatePoints">
        update user
        SET points = points + #{points}
        WHERE id = #{userId}
        AND deleted = 0
    </update>
    <update id="decreasePoints">
        update user
        SET points = points - #{points}
        WHERE id = #{userId}
        AND deleted = 0
    </update>
    <update id="updateById">
        UPDATE user
        <set>
            <if test="updateProfileDTO.realName != null">
                real_name = #{updateProfileDTO.realName},
            </if>
            <if test="updateProfileDTO.gender != null">
                gender = #{updateProfileDTO.gender},
            </if>
            <if test="updateProfileDTO.birthDate != null">
                birth_date = #{updateProfileDTO.birthDate},
            </if>
            <if test="updateProfileDTO.height != null">
                height = #{updateProfileDTO.height},
            </if>
            <if test="updateProfileDTO.weight != null">
                weight = #{updateProfileDTO.weight},
            </if>
            <if test="updateProfileDTO.position != null">
                `position` = #{updateProfileDTO.position},
            </if>
            <if test="updateProfileDTO.preferredFoot != null">
                preferred_foot = #{updateProfileDTO.preferredFoot},
            </if>
            <if test="updateProfileDTO.experienceYears != null">
                experience_years = #{updateProfileDTO.experienceYears},
            </if>
            <if test="updateProfileDTO.avatar != null">
                avatar = #{updateProfileDTO.avatar},
            </if>
            <if test="updateProfileDTO.emergencyContact != null">
                emergency_contact = #{updateProfileDTO.emergencyContact},
            </if>
        </set>
        WHERE id = #{userId}
        AND deleted = 0
    </update>


</mapper>